html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-image{
    border-radius:5px;
    border: 1px solid #bbb9b9;
}

.product-card{
    border-radius:5px;
    border:1px solid #008cba;
}

.product-card:hover{
     cursor: pointer;
 }

.OrdersListGroup{
    text-decoration: none;
}