@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <div class="alert-success">
            <h1 class="mb-6 mt-6 text-white">
            @TempData["Success"]
            </h1>
        </div>
}